#server.port=8080
#
#stats-server.url=http://localhost:9090
#
#spring.jpa.hibernate.ddl-auto=none
#spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL10Dialect
#spring.jpa.properties.hibernate.format_sql=true
#spring.sql.init.mode=always
#
##---
#spring.datasource.driverClassName=org.postgresql.Driver
#spring.datasource.url=jdbc:postgresql://localhost:5432/${POSTGRES_DB:ewm_db}
#spring.datasource.username=${POSTGRES_USER:postgres}
#spring.datasource.password=${POSTGRES_PASSWORD:iamroot}
server:
  port: 8080
stats-server:
  url: http://localhost:9090
spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL10Dialect
        format_sql: true
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB:explore_with_me}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:iamroot}